---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import AboutSection from '../components/AboutSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro'
import FeaturesSection from '../components/FeaturesSection.astro';
import NewsLetterSection from '../components/NewsLetterSection.astro';
import AppsSimplifySection from '../components/AppsSimplifySecrion.astro'
import ContactSection from '../components/ContactSection.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Recursive Zero">
	<main>
	</main>
</Layout>
<AboutSection/>
<TestimonialsSection/>
<FeaturesSection />
<NewsLetterSection/>
<AppsSimplifySection/>
<ContactSection/>
<Footer/>

