<section>
    <div
        class="mt-[12rem] lg:mt-[14rem] px-[1.25rem] pb-[1.2rem] xl:px-[10.2rem] 2xl:px-[18.2rem] lg:pb-[80px] w-full"
    >
        <div class="max-w-[60rem] mx-auto">
            <div id="aboutText"
                class="bg-[#222] text-[13px] inline-block rounded-md px-[8px] py-[2px] mb-[0.8rem]"
            >
                about
            </div>
            <h1
                class="text-[36px] lg:text-[61px] font-bold leading-[42px] lg:leading-[72px] mb-[1.1rem] tracking-[-0.03em]"
            >
                Efficient apps that simplify your life.
            </h1>
            <div
                class="flex flex-col lg:flex-row gap-[1.5rem] lg:gap-[1.2rem] xl:gap-[3rem] lg:justify-between"
            >
                <figure class="lg:h-[500px] basis-[55%]">
                    <img
                        src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzNDk5MjB8MHwxfHNlYXJjaHw0MXx8VGVjaG5vbG9neXxlbnwwfHx8fDE3MDE2MTQ0NTd8MA&ixlib=rb-4.0.3&q=85"
                        alt="person working on a laptop "
                        class="rounded-xl w-full object-cover h-[250px] md:h-[500px] lg:h-full"
                    />
                </figure>
                <div class="basis-[45%]">
                    <div>
                        <p id="aboutParagrapgh"
                            class="text-[#999] mb-[0.8rem] text-[18px] leading-[24px] lg:text-[20px] lg:leading-[32px] font-normal"
                        >
                            Recursive Zero - crafting compact apps for smoother
                            workflows and smarter storage solutions, enhancing
                            your day-to-day productivity
                        </p>
                    </div>
                    <div>
                        <a href="#contactForm">
                            <button
                                class="bg-[#FFCC00] px-[20px] h-[50px] rounded-[5px] text-[#111] text-[14px] lg:text-[16px]"
                            >
                                Contact us
                            </button>
                        </a>
                        <a href="#" class="ml-[8px]">
                            <button class="buttonTheme learn-btn bg-[#222] px-[20px] h-[50px] rounded-[5px] text-[14px] lg:text-[16px]"
                            >
                                Learn more
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
