<section>
    <div class="p-[20px] lg:py-[50px]">
        <div class="max-w-[60rem] mx-auto">
            <div class="mb-[20px]">
                <h2 class="font-bold text-[27.3px] leading-[32.8px] tracking-[-0.54px] md:text-[31.2px] md:leading-[37.5px] md:tracking-[-0.62px]">
                    Simplifying daily tasks with handy mini apps
                </h2>
            </div>
            <div class="section-description lg:flex flex-row-reverse justify-between items-start gap-[20px]">
                <div class="section-image mb-[10px] h-[150px] md:h-[300px] basis-[50%]">
                    <figure>
                        <img src="https://images.unsplash.com/photo-1563986768494-4dee2763ff3f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNDk5MjB8MHwxfHNlYXJjaHw0NXx8VGVjaG5vbG9neXxlbnwwfHx8fDE3MDE2MTQ0NTh8MA&ixlib=rb-4.0.3&q=80&w=1080" alt="" class="h-[150px] md:h-[300px] w-full rounded-[10px] object-cover">
                    </figure>
                </div>
                <div class="basis-[50%]">
                    <p class="appSimplifyText text-[#999] text-[14px] leading-[22.4px] md:text-[16px] md:leading-[25.6px] mb-[20px]">
                        Based out of Bengaluru city, Recursive Zero stands as a pioneer in innovation, meticulously crafting small yet powerful apps aimed at simplifying your daily tasks and enhancing your storage efficiency. Our cutting-edge solutions are woven with a touch of simplicity, transforming your workflow with remarkable efficiency. Traverse through an intuitive app experience with Recursive Zero, fueling your productivity to unprecedented heights
                    </p>
                    <div>
                        <a href="">
                            <button class="px-[20px] h-[40px] text-[#111] text-[14px] md:text-[16px] bg-[#ffcc00] rounded-[5px]">
                                Apps Simplify Life
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>