<section>
    <div class="p-[20px]">
        <div>
            <div class="mb-[20px]">
                <h2 class="font-bold text-[27.3px] leading-[32.8px] tracking-[-0.54px]">
                    Simplifying daily tasks with handy mini apps
                </h2>
            </div>
            <div class="section-description ">
                <div class="mb-[10px]">
                    <figure>
                        <img src="https://images.unsplash.com/photo-1563986768494-4dee2763ff3f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNDk5MjB8MHwxfHNlYXJjaHw0NXx8VGVjaG5vbG9neXxlbnwwfHx8fDE3MDE2MTQ0NTh8MA&ixlib=rb-4.0.3&q=80&w=1080" alt="    ">
                    </figure>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</section>