<section>
    <div class="p-[20px]">
        <div class="max-w-[60rem] mx-auto">
            <div class="lg:flex flex-row-reverse gap-[20px] items-start">
                <div class="mb-[10px] md:mb-[40px] basis-[50%]">
                    <figure>
                        <img
                            src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNDk5MjB8MHwxfHNlYXJjaHw0Nnx8VGVjaG5vbG9neXxlbnwwfHx8fDE3MDE2MTQ0NTh8MA&ixlib=rb-4.0.3&q=80&w=1080"
                            alt="contactus image"
                            class="h-[200px] md:h-[400px] w-full object-cover rounded-[10px]"
                        />
                    </figure>
                </div>
                <div class="basis-[50%]">
                    <h2
                        class="font-bold text-[27.3px] tracking-[-0.54px] md:text-[31.2px] md:leading-[37.5px] md:tracking-[-0.62px]"
                    >
                        Reach Recursive Zero
                    </h2>
                    <p
                        class="contactSectionText text-[14px] leading-[22.4px] md:text-[16px] md:leading-[25.6px] text-[#999999] mt-[5px]"
                    >
                        Tech simplified - Harness the power of modern technology
                        with Recursive Zero; just drop a message in our contact
                        form and let's ignite your journey to digital
                        transcendence
                    </p>
                    <form id="contactForm" action="" class="contact-form mt-[20px]">
                        <input
                            type="text"
                            name=""
                            placeholder="First name"
                            class="formInputBg w-full mt-[5px] p-[10px] bg-[#222] rounded-[5px]"
                        />
                        <input
                            type="email"
                            name=""
                            placeholder="Email"
                            class="formInputBg w-full mt-[5px] p-[10px] bg-[#222] rounded-[5px]"
                        />
                        <textarea
                            name=""
                            cols="30"
                            rows="10"
                            placeholder="Message"
                            class="formInputBg w-full mt-[5px] p-[10px] bg-[#222] rounded-[10px] h-[100px] md:h-[120px]"
                        ></textarea>
                        <button
                            class="rounded-[5px] bg-[#ffcc00] text-[#111] mt-[5px] h-[40px] px-[20px]"
                        >
                            Send
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
