<article>
    <div>
        <div class="min-shape-card relative">
            <div class="featuresCard min-shape-card-text rounded-[5px] p-[10px] md:p-[20px] bg-[#222222] absolute left-[10px] right-[10px] bottom-[10px] md:left-[20px] md:right-[20px] md:bottom-[20px]">
                <h3 class="card-text font-bold text-[14px] leading-[16.8px] tracking-[-0.21px] md:text-[16px] md:leading-[19.2px] md:tracking-[-0.24px]">
                    Task Organizer App
                </h3>
            </div>
            <figure class="card-image w-full">
                <img src="https://images.unsplash.com/photo-1491933382434-500287f9b54b?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNDk5MjB8MHwxfHNlYXJjaHwxNzV8fFRlY2hub2xvZ3l8ZW58MHwxfHx8MTcwMTYxNDc5Mnww&ixlib=rb-4.0.3&q=80&w=1080" alt="" class="rounded-[10px] h-[250px] lg:h-[300px] w-full object-cover">
            </figure>
        </div>
    </div>
</article>