<footer>
    <div class="p-[20px] lg:py-[50px]">
        <div class="max-w-[60rem] mx-auto">
            <div class="footer-top lg:flex justify-between pb-[30px] lg:pb-[10px] border-b border-[#222] ">
                <div class="footer-content mb-[40px]">
                    <a href="/">
                        <button class="font-bold text-[17.5px] md:text-[20px] text-start">
                            Recursive Zero
                        </button>
                    </a>
                </div>
                <div class="footer-links flex justify-end">
                    <ul class="flex gap-[0.62rem] font-bold">
                        <li>
                            <a href="https://www.twitter.com/recursivezero" target="_blank" class="social-link bg-[#222] inline-flex justify-center items-center size-[40px] rounded-[5px]">
                                X
                            </a>
                        </li>
                        <li>
                            <a href="mailto:recursivezero@outlook.com" class="social-link bg-[#222] inline-flex justify-center items-center size-[40px] rounded-[5px]">
                                M
                            </a>
                        </li>
                        <li>
                            <a href="https://www.github.com/recursivezero" target="_blank" class="social-link bg-[#222] inline-flex justify-center items-center size-[40px] rounded-[5px]">
                                G
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom mb-[30px] lg:pt-[20px] lg:mb-[40px]">
                <div>
                    <p class="footerBottomA text-[12.5px] leading-[20px] text-[#999]">
                        ©2023
                        <a href="/" class="footerBottomB text-[#fff]">
                            <strong>
                                RecursiveZero
                            </strong>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>