<section>
    <div id="newsLetterSection" class="bg-[#222]">
        <div class="p-[20px] lg:py-[50px]">
            <div class="max-w-[60rem] mx-auto">
                <h2
                    class="font-bold text-center text-[27.34px] leading-[32.8px] tracking-[-0.54px] md:text-[31.2px] md:leading-[37.5px] md:tracking-[-0.62px]"
                >
                    Subscribe to our newsletter
                </h2>
                <p id="newsLetterText"
                    class="text-[14px] leading-[22.4px] text-[#999999] mt-[5px] text-center md:text-[14px] md:leading-[25.6px] lg:text-[16px]"
                >
                    Receive our most recent news and updates
                </p>
                <form action="" class="mt-[20px] relative lg:max-w-[500px] mx-auto">
                    <input id="inputBg"
                        type="text"
                        placeholder="Email"
                        class="input p-[14px] border border-[#222] bg-[#111] w-full rounded-[5px] placeholder:text-[#757575]"
                    />
                    <button class="bg-[#FFCC00] h-[40px] px-[20px] text-[#111] text-[16px] absolute top-[7px] right-[10px] max-w-[200px] rounded-[5px]">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
