<section>
    <div class="px-[1.2rem] lg:px-[12rem] lg:py-[50px] py-[1.2rem] text-white">
        <h2 class="text-[27.3px] leading-[32.8px] tracking-[-0.54px] lg:text-[31.2px] lg:leading-[37.5px] lg:tracking-[-0.62px] font-bold">
            Testimonials
        </h2>
    </div>
</section>