---
import ReviewCard from '../components/ReviewCard.astro';
---

<section>
    <div
        class="px-[1.25rem] xl:px-[10.2rem] 2xl:px-[18.2rem] lg:py-[50px] py-[1.2rem] w-full"
    >
        <div class="max-w-[60rem] mx-auto">
            <div class="mb-[20px]">
                <h2
                    class="text-[27.3px] leading-[32.8px] tracking-[-0.54px] md:text-[31.2px] md:leading-[37.5px] md:tracking-[-0.62px] font-bold"
                >
                    Testimonials
                </h2>
            </div>
            <div class="reviewcards-grid grid grid-cols-1 gap-[5px] md:grid-cols-3 md:gap-[12px]">
                <ReviewCard />
                <ReviewCard />
                <ReviewCard />
            </div>
        </div>
    </div>
</section>
